body{
    margin: 0;
    padding: 0;
    font-family: monospace;
    background: linear-gradient(#ebdef0,#c39bd3 );
    height: 100vh;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   }
.container-fluid{
    background: #d2b4de ;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.text {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}
.sub{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}
.sub-1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}

.sub-2{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}

.sub-3{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}
img{
    width: 500px;
    height: 250px;
    
}
.container{
    display: flex;
    justify-content: center;
}
.img2-container{
    width: 100px;
    height: 250px;
    display: flex;
    justify-content: center;
}